---
import  Art1  from '../components/images/certificates/art_advanced_certificatethumbnail.jpeg';
import  Art1View  from '../components/images/certificates/art_advanced_certificate.jpeg';
import Art2 from '../components/images/certificates/ART ETS Certificate_thumbnail.jpeg';
import Art2View from '../components/images/certificates/ART ETS Certificate.jpeg';
import Art3 from '../components/images/certificates/art_certificatethumbnail.jpeg';
import Art3View from '../components/images/certificates/ART Certificate.jpeg';
import AAMFT_Badge from '../components/images/certificates/AAMFT_Credly_Badge_Clinical_Fellow.png';
import AAMFT_Cert from '../components/images/certificates/AAMFTcertificate.pdf';
---

<div class='wrapper'>
    <div>
        <h5>My Credentials with ART</h5>
    </div>

    <div class=creds>
        <a href={Art1View}>
            <img class="w-10 h-10" src={Art1} alt="credentials1"/>
            <div>Advanced Accelerated Resolution Therapy training certificate</div>
        </a>
    </div>
    <div>
        <a href={Art2View}>
            <img class="w-10 h-10" src={Art2} alt="credentials2"/>
            <div>ART Enhancement Training including SAF-T TTT</div>
        </a>
                    
    </div>
    <div>
        <a href={Art3View}>
            <img class="w-10 h-10" src={Art2} alt="credentials3"/>
            <div>Master ART Practitioner</div>
        </a>
    </div>
    <div>
        <a href={AAMFT_Cert}>
            <img class="w-12.5 h-12.5" src={AAMFT_Badge} alt="credentials4"/>
            <div>ART Enhancement Training including SAF-T TTT</div>
        </a>
    </div>
    <div>
                      <!--AAMFT certificate-->
        <a href="./certificates.html" class="btn btn-info btn-m" role="button">AAMFT
        </a>
            <!--end of AAMFT certificate <li>I am unable to accept TNCARE at this time-->
    </div>
    <div>
          <!-- Professional verification provided by Psychology Today    -->
        <a href="https://www.psychologytoday.com/profile/876247" class="sx-verified-seal"></a>
        <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="16" data-id="876247" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
          <!-- End Verification -->
        </a>
    </div>
</div>


<style>
    .wrapper{
        justify-items: end;
        margin-bottom: auto;
        border: 2px solid salmon;
        background-color: beige;

    }
    .creds{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:5;
        border: 1px solid beige;
        background-color:beige;
        row-gap: 5px;
    }

</style>